.gridCont {
  display: inline-grid;
  grid-template-columns: 30% 70%;
  width: 100%;
  background: white;
  height: 1.5em;
}
.formCentered_horizontal{
  display: flex;
  flex-direction: row;
}

.formCentered_horizontal div{
  display: flex;
  flex-direction: row;
}

.checkboxCont {
  display: inline-grid;
  grid-template-columns: 30% 70%;
  width: 100%;
  background: white;
  height: auto;
}

.iconCont{
  padding-top: 2px;
  text-align: right;
  padding-right: 6px;
}

.calendarRow{
  width: 200px;
  grid-template-columns: 10% 90%
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.typeAheadUl{
  grid-column-start: 2;
  width: 99%;
  z-index: 2000;
  border: solid 1px lightgrey;
  margin:0;
  padding:0;
  height: auto;
}

.itemsCl:hover{
  background: lightgrey;
}

.typeAheadUlhidden{
  visibility: hidden;
}


.itemsCl {
  z-index: 1000;
  display: block;
  grid-column-start: 1;
  grid-column-end:span 2;
  width: 100%;
  background-color: white;
}

.typeAheadSelected {
  background-color:lightgrey;
}

.checkBoxContCl {
  display: flex;
  flex-direction: column;
}

.checkBoxContCl input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkBoxContCl label {
  display: block;
  position: relative;
  padding-left: 35px;
  line-height: 30px;
}
.checkBoxSpan {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: solid thin #444;
}

/* On mouse-over, add a grey background color */
.checkBoxContCl label:hover input ~ .checkBoxSpan {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkBoxContCl input:checked ~ .checkBoxSpan {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkBoxSpan:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkBoxContCl input:checked ~ .checkBoxSpan:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkBoxContCl .checkBoxSpan:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.resetTreeAncestorBtn{
  float: left;
}

.wistia{
  width: 300px;
  height: 169px;
}

.ancestorsDiv{
  width: 100%;
  float:left;
}
.ancestorElement{
  width: fit-content;
  float: left;
  margin-right: 1em;
  background: light-blue;
  border: solid thin grey;
  padding: 2px;
  border-radius: 3px;
}

.hidden{
  display: none;
}

@media only screen and (max-width: 500px) {
  .formCentered_horizontal{
    display: flex;
    flex-direction: column;
  }
  
  .formCentered_horizontal div{
    display: flex;
    flex-direction: column;
  }
  .gridCont {
    grid-template-columns: 100%;
    background: lightblue;
    height: 3em;
  }
  .checkboxCont {
    grid-template-columns: 100%;
    background: lightblue;
  }
  .typeAheadUl{
    grid-column-start: 1;

  }
  
}