.galleryCard_container {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.galleryCard_card {
  width: 250px;
  background: white;
  margin: 5px;
  transition: all 0.8s cubic-bezier(.25,.8,.25,1);
}

.galleryCard_title{
  font-size: xx-large;
  font-weight: bold;
  text-align: left;
  float:left;
  margin: 5px;
  margin-left: 18px;
  width: 90%;
}
.galleryCard_card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

@media only screen and (min-width: 381px) {
  .galleryCard_card {
    width: 200px;
  }
}

@media only screen and (min-width: 801px) {
  .galleryCard_card {
    width: 400px;
  }
}