.simpleGrid {
  height: 400px;
  overflow-y: scroll;
}

.simpleGrid_row {
  display: grid;
  width: 100%;
  background: white;
}

.simpleGrid_cell{
  padding-top: 5px;
  padding-bottom: 6px;
  padding-left: 3px;

}

.word_break {
  word-wrap: normal;
  line-height:30px;
  text-overflow: clip;
  overflow-wrap: break-word;
  word-break: break-word;
}

.simpleGrid_cell{
  border: solid thin red;
}

::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}

@media only screen and (max-width: 500px) {
  .hideMobile {
    display: none
  }
  .header {
    grid-row: 1;
  }
  .sub {
    grid-row: 2;
    grid-template-columns: repeat(auto-fill, 100px ) ;
  }
  .gC1_4 {
    grid-column: 1/ 5;
  }
}