.fileTag{
  display: block;
  float:left;
  margin-right: 5px;
  background-color: aqua;
  color: black;
  border: thin solid black;
  padding: 3px;
  border-radius: 4px;
  font-size: smaller;
}

.fileTagUl{
  display: block;
  margin: 0px;
  padding: 0px;
}