.gridCont {
  display: inline-grid;
  grid-template-columns: 30% 70%;
  width: 100%;
  background: white;
  height: 1.5em;
}

ul {
  list-style: none;
}
li {
  display: block;
}
.tokensUl {
  margin: 0px;
  list-style: none;
}

.typeaheadListElement{
  display: block;
  z-index: 5000;
  background: violet;
}
.tokenLi {
  margin-top: 0px;
  display: block;
  margin-right: 2px;
  font-size: smaller;
  padding: 2px;
  float: left;
  border: #2196F3 solid thin;
  background-color: #219666;
}

.gridCont3 {
  display: inline-grid;
  grid-template-columns: 30% 20% 10% 40%;
  width: 100%;
  background: white;
  height: 1.5em;
}

#createElement {
  float: right;
}
.gridContMap {
  display: inline-grid;
  grid-template-columns: 30% 30% 40%;
  width: 100%;
  background: white;
}

.gridContAuto {
  display: inline-grid;
  grid-template-columns: 30% 30% 40%;
  width: 100%;
  background: white;
}

.formCentered_horizontal{
  display: flex;
  flex-direction: row;
}


.formCentered {
  display: block;
  height: auto;
}
.formCentered_horizontal div{
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}

.formCentered_horizontal label{
  margin-right: 10px;
}



.checkboxCont {
  display: inline-grid;
  grid-template-columns: 30% 70%;
  width: 100%;
  background: white;
  height: auto;
}

.iconCont{
  padding-top: 2px;
  text-align: right;
  padding-right: 6px;
}

.calendarRow{
  width: 200px;
  grid-template-columns: 10% 90%
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.formCentered_horizontal div .typeAhead{
  display: flex;
  flex-direction: column;
}

.typeAheadUl{
  grid-column-start: 2;
  width: 99%;
  z-index: 2000;
  border: solid 1px lightgrey;
  margin:0;
  padding:0;
  height: auto;
}

.formLabel {
  display: block;
}
.itemsCl:hover{
  background: lightgrey;
}

.typeAheadUlhidden{
  visibility: hidden;
}


.itemsCl {
  z-index: 1000;
  display: block;
  grid-column-start: 1;
  grid-column-end:span 2;
  width: 100%;
  background-color: white;
}

.typeAheadSelected {
  background-color:lightgrey;
}

.checkBoxContainer {
  display: flex;
  flex-direction: column;
}

.checkBoxContainer input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkBoxContainer label {
  display: block;
  position: relative;
  padding-left: 35px;
  line-height: 30px;
}

.checkboxLabel{
  display: block;
  position: relative;
  padding-left: 35px;
  line-height: 30px;
}
.checkBoxSpan {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: solid thin #444;
}

.btn_map_container{
  height: 420px;
}

.btn_map_container_hidden{
  height: 20px;
}
.map_container{
  height: 420px;
  width: 500px;
  display:block;
}
.map_container_hidden{
  display:none;
}

.showMapBtn{
  display:block;
}
.typeAhead{
  z-index:3000;
}
.hideMapBtn{
  position: absolute;
  top: 110px;
  left: 11px;
  z-index: 100;
}

.btnContainer{
  display: block;
}
/* On mouse-over, add a grey background color */
.checkBoxContainer label:hover input ~ .checkBoxSpan {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkBoxContainer input:checked ~ .checkBoxSpan {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkBoxSpan:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkBoxContainer input:checked ~ .checkBoxSpan:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkBoxContainer .checkBoxSpan:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.resetTreeAncestorBtn{
  float: left;
}

.wistia{
  width: 300px;
  height: 169px;
}

.ancestorsDiv{
  width: 100%;
  float:left;
}
.ancestorElement{
  width: fit-content;
  float: left;
  margin-right: 1em;
  background: light-blue;
  border: solid thin grey;
  padding: 2px;
  border-radius: 3px;
}

.hidden{
  display: none;
}

@media only screen and (max-width: 500px) {
  .formCentered_horizontal{
    display: flex;
    flex-direction: column;
  }
  
  .formCentered_horizontal div{
    display: flex;
    flex-direction: column;
  }
  .gridCont {
    grid-template-columns: 100%;
    background: lightblue;
    height: 3em;
  }
  .checkboxCont {
    grid-template-columns: 100%;
    background: lightblue;
  }
  .typeAheadUl{
    grid-column-start: 1;

  }
  
}