
.showMap {
  display: block;
}

.hiddenMap {
  display: none;
}

#map {
  height: 400px;
  width: 600px;
  overflow: hidden;
  border: thin solid #333;
  display: block;
  }

#capture {
  height: 360px;
  width: 480px;
  overflow: hidden;
  float: left;
  background-color: #ECECFB;
  border: thin solid #333;
  border-left: none;
}
#logo {
  position: absolute;
  top:2%;
  left:2%;
  background: url('logo-wason.png');
  width: 250px;
  height: 40px;
}
