#app{
  height:100%
}

body {
  height: 1500px;
  margin: 0px;
}

#appContainer{
  height: 100%;
  width: 100%;
  float: left;
}
.invisible{
  display:none;
}

#inside{
  float: left;
  width: 70%;
  height: 100%;
}
.visible{
  display: block;
}

.sideNavInvisible{
  will-change: transform;
  transition: transform 0.3s cubic-bezier(0, 0, 0.3, 1);
  transform: translateX(-102%)
}

.sideNavVisible{
  height: 100%;
  will-change: transform;
  transition: transform 0.3s cubic-bezier(0, 0, 0.3, 1);
  transform: translateX(0%);
  
  width: 250px;
  padding: 20px;
}

.menuLine{
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  margin-left: 10px;
}

.menuSectionUlDeployed{
  display: block;
}

.menuSectionUl{
  display: none;
}
#sideNavContainer{
  z-index: 40;
  float: left;
  width: 20%;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  pointer-events: none;
}

.overlayVisible{
  display: none; /* Hidden by default */
}

.overlayInvisible{
  display: block; /* Hidden by default */
}

.menuSectionHead div:hover{
  background-color: red;
}

.menuSectionLi{
  display: block;
}

.menuSectionLi:hover{
  background-color: red;
}

span{
  display: block;
  color: black;
}