
.tooltip {
  visibility: hidden;
  width: auto;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: relative;
  z-index: 1;
  display: inline-block;
  margin-top: -30px;
  opacity: 0;
  transition: opacity 0.3s;
}

.btnTooltip:hover .tooltip {
  visibility: visible;
  opacity: 1;
}